header
{
    padding: 5px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.search-history
{
    padding: 10px;
    background-color: #eee;
}

.current-day-forecast
{
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 205px;
}

#current-forecast img
{
    height: 50px;
}

.UVindex
{
    border-radius: 5%;
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
}

.safe
{
    background-color: green;
    color: white;
}

.warning
{
    background-color: yellow;
    color: black;
}

.danger
{
    background-color: red;
    color: white;
}

.future-card
{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: min-content;
    height: min-content;
    padding: 5px;
    padding-right: 10px;
    background-color: #09f;
    color: #fff;
}

.future-card p
{
    margin: 0px;
    font-size: small;
    white-space: nowrap;
}

.future-card p, h6, i
{
    padding: 5px;
}

.future-card img
{
    height: 75px;
}